# это для проекта коллекции кружек , который должен быть собран на реакте...


# следить за всеми типами данных!
!*.*

# не следить за пакетами ноды!
/node_modules/


# не следить за ярлыками запуска
*.cmd

