$cup-columns: 50;
$cup-rows: 50;
$cup-size-column: 2%;
$cup-size-row: 2%;

.cup {
    display: grid;
    grid-template-columns: repeat($cup-columns,$cup-size-column);
    grid-template-rows: repeat($cup-rows,$cup-size-row);
    background: linear-gradient(135deg, blue, red);
    border-radius: 5%;
    box-shadow: 3px -3px #444444;

    .title {
        font-family: Verdana, sans-serif;
        text-align: center;
        text-transform: capitalize;
        text-shadow: 1px -1px #000000;
        color: red;
        grid-column: 1 / 51;
        grid-row: 1;
        font-size: 100%;
        line-height: 140%;
        z-index: 10;
    }

    %inscriptions {
        font-family: Verdana/*minecraft*/, sans-serif;
        text-transform: lowercase;
        color: #00ff00;
        font-size: 60%;
        text-shadow: 1px -1px #000000;
        z-index: 10;
    }
    .id {
        @extend %inscriptions;
        grid-column: 3 / 51;
        grid-row: 40 / 42;
    }
    .material {
        @extend %inscriptions;
        grid-column: 3 / 51;
        grid-row: 42 / 44;
    }
    .date {
        @extend %inscriptions;
        grid-column: 3 / 51;
        grid-row: 48 / 50;
    }
    .land {
        @extend %inscriptions;
        grid-column: 3 / 51;
        grid-row: 44 / 46;
        text-transform: capitalize;
    }
    .place {
        @extend %inscriptions;
        grid-column: 3 / 51;
        grid-row: 46 / 48;
        text-transform: capitalize;
    }
    .picture {
        grid-column: 6 / 46;
        grid-row: 6 / 46;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}
