$width: 30vw;
$height: 40vh;
$number-of-lines: 11;
$font-size: 2vh;

.select {
    position: absolute;
    background-color: blue;
    box-shadow: 3vh -3vh 0.3vh rgba(0,0,0,0.5);
    font-size: $font-size;

    top:50vh-$height/2;
    left: 50vw-$width/2;
    width: $width;
    height: $height;
    border-radius: 5%;
    display: grid;
    grid-template-columns: repeat($number-of-lines,100%/$number-of-lines);
    grid-template-rows: repeat($number-of-lines,100%/$number-of-lines);
    z-index: 50;

    %button {
        border-radius: 1vh;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .show {
        @extend %button;
        background-color: #00ff00;
        grid-column: 2 / 8;
        grid-row: 10 / 11;
    }
    .reset {
        @extend %button;
        background-color: orange;
        grid-column: 10 / 11;
        grid-row: 10 / 11;
    }
    .turn-left {
        @extend %button;
        grid-column: 2 / 6;
        grid-row: 2 / 3;
        background-color: orange;
    }
    .turn-right {
        @extend %button;
        grid-column: 7 / 11;
        grid-row: 2 / 3;
        background-color: orange;
    }

}

@keyframes expand {
    from {left: 0; width: 0; top: 0; height: 0; font-size: 0%;}
    to {top:50vh-$height/2; left: 50vw-$width/2; width: $width; height: $height; font-size: $font-size;}
}
@keyframes shrink {
    from {top:50vh-$height/2; left: 50vw-$width/2; width: $width; height: $height; font-size: $font-size;}
    to {left: 0; width: 0; top: 0; height: 0; font-size: 0%;}
}

%enter-exit {
    animation-name: expand;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.enter {
    @extend %enter-exit;
    animation-name: expand;
}
.exit {
    @extend %enter-exit;
    animation-name: shrink;
}
