@import "styles/reset.scss"; /* сброс стилей по умолчанию */
@import "styles/fonts.scss"; /* собственные шрифты */

body {
    $indent: 50vh;
    background: linear-gradient(135deg, yellow, green);
    max-width: $indent;
    min-height: 100vh;
    max-height: 100vh;

    .cup {
    font-family: minecraft, sans-serif;
    color: red;
    position: absolute;
    width: $indent;
    height: $indent;
    left: $indent;
    top: $indent/2;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    }





}



